<header role="banner">

	<nav class="navbar navbar-expand-lg navbar-light d-block d-sm-block d-md-none d-lg-none">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" >
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="index nav-link gobold" href="./index.php">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link gobold" href="../film-tilncraft-video.php">Film</a>
				</li>
				<li class="nav-item">
					<a class="nav-link gobold" href="../communication-tilncraft-video.php">Communication</a>
				</li>
				<li class="nav-item">
					<a class="nav-link gobold" href="../partenaires-tilncraft-video.php">Partenaires</a>
				</li>
				<li class="nav-item">
					<a class="nav-link gobold" href="../contact-tilncraft-video.php">Contact</a>
				</li>
			</ul>
		</div>
	</nav>

	<a href="./index.php" title="Retourner sur la page d'accueil">
		<img id="logo-header" class="mx-auto d-block" src="images/tiltncraft-logo.png" />
	</a>

	<nav class="py-1 d-none d-lg-block d-md-block">
		<div class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="index nav-link gobold" href="./index.php">Accueil</a>
			<a class="nav-link gobold" href="../film-tilncraft-video.php">Film</a>
			<a class="nav-link gobold" href="../communication-tilncraft-video.php">Communication</a>
			<a class="nav-link gobold" href="../partenaires-tilncraft-video.php">Partenaires</a>
			<a class="nav-link gobold" href="../contact-tilncraft-video.php">Contact</a>
		</div>
	</nav>

</header>