<header role="banner">

	<nav class="navbar navbar-expand-lg navbar-light d-block d-sm-block d-md-none d-lg-none">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link gobold" href="../film-tilncraft-video.php">Film</a>
				</li>
				<li class="nav-item">
					<a class="nav-link gobold" href="../drone-tilncraft-video.php">Drone</a>
				</li>
				<li class="nav-item">
					<a class="nav-link gobold" href="../communication-tilncraft-video.php">Communication</a>
				</li>
				<li class="nav-item">
					<a class="nav-link gobold" href="../clip-tilncraft-video.php">Clip</a>
				</li>
			</ul>
		</div>
	</nav>

	<a href="./index.php" title="Retourner sur la page d'accueil">
		<img id="logo-header" class="mx-auto d-block" src="images/tiltncraft-logo.png" />
	</a>

	<nav class="py-1 d-none d-lg-block d-md-block">
		<div class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="nav-link gobold" href="../film-tilncraft-video.php">Film</a>
			<a class="nav-link gobold" href="../drone-tilncraft-video.php">Drone</a>
			<a class="nav-link gobold" href="../communication-tilncraft-video.php">Communication</a>
			<a class="nav-link gobold" href="../clip-tilncraft-video.php">Clip</a>
		</div>
	</nav>

</header>


<!--
<nav class="navbar navbar-expand-sm navbar-dark justify-content-center">



	<button class="navbar-toggler" type="button"
			data-toggle="collapse" data-target="#navbars"
			aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">

		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-center" id="navbars">

		<ul class="navbar-nav mr-auto justify-content-center">
			<li class="nav-item">
				<a class="nav-link" href="index.php">Accueil <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="mariage-ben-video.php">Mariages</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="films-entreprise-ben-video.php">Films entreprises</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="films-artistiques-ben-video.php">Films artistiques</a>
			</li>

		</ul>
	</div>
</nav>-->
