$facebook-color: #3b5998;
$youtube-color: #c4302b;
$pdf-color: #de1717;
$firstscreen-yellow: #e5c309;

/*
@font-face {
  font-family: "Adlery";
  src: url('../../fonts/Adlery_TRIAL.ttf') format('truetype')
}
*/

