$facebook-color: #3b5998;
$youtube-color: #c4302b;
$pdf-color: #de1717;
$firstscreen-yellow: #e5c309;


@font-face {
  font-family: "Cinerama";
  src: url('../../fonts/Cinerama.otf') format('truetype')
}

@font-face {
  font-family: "Lovely";
  src: url('../../fonts/lovely.ttf') format('truetype')
}

@font-face {
  font-family: "Thundergood";
  src: url('../../fonts/Thundergood.ttf') format('truetype')
}

@font-face {
  font-family: "ITCEDSCR";
  src: url('../../fonts/ITCEDSCR.TTF') format('truetype')
}

@font-face {
  font-family: "edosz";
  src: url('../../fonts/edosz.ttf') format('truetype')
}

@font-face {
  font-family: "gobold";
  src: url('../../fonts/Gobold_Hollow.otf') format('truetype')
}


